---
import "../index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Dude Talk Dinners</title>
  </head>
  <body class="flex flex-col items-center">
    <div class="w-full max-w-5xl shadow-xl">
      <header class="hero">
        <div class="hero-content">

          <h1 class="font-anton title space-y-5 mb-5   ">
            <span class="text-primary block">Dude</span>




            <span class="text-secondary block">Talk</span>
            <span class="text-primary block">Dinners</span>
          </h1>

          <div class="sm:w-96 quote font-fraunces flex-col justify-center items-center space-y-3 mb-2">
            <p>
              We'll be here with free food, and space to talk.
            </p>
            <p>
              All you have to do is
              show up!
            </p>

            <div class="banner">
              <p>Now on Mondays!</p>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section class="location space-y-3 text-center">
          <div class="font-bold text-lg">
            <p>2 Dads Eatery and Taproom</p>
            <p>
              <a
                href="https://www.google.com/maps/search/?api=1&query=60006+US+Highway+285,+Bailey,+CO+80421"
              >60006 US Highway 285 Bailey, CO 80421</a
              >
            </p>
          </div>
          <div><p>Last Monday of Every Month at 6:00 PM</p></div>
          <div>
            <p>
              Questions? Email us at
              <a href="mailto:info@allaccesswellness.org"
              >info@allaccesswellness.org</a
              >
            </p>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
