---
import "../index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Dude Talk Dinners</title>
  </head>
  <body>
    <div class="bg-dots h-screen">
      <div class="flex h-full w-full flex-col">
        <!-- TOP -->
        <header class="paper page-width bg-mountain pl10 mt-10 p-3 sm:p-10">
          <h1
            class="font-anton flex flex-col gap-2 text-5xl font-normal uppercase not-italic sm:mb-5 sm:gap-3 sm:text-7xl sm:tracking-wide"
          >
            <span class="text-primary">Dude</span>
            <span class="text-secondary">Talk</span>
            <span class="text-primary">Dinners</span>
          </h1>
          <div
            class="font-fraunces text-md w-3/4 flex-col items-center justify-center space-y-3 py-5 tracking-wide not-italic sm:text-2xl"
          >
            <p>We'll be here with free food, and a space to talk.</p>
            <p>All you have to do is show up!</p>
          </div>
        </header>

        <!-- MIDDLE -->
        <section class="full-width-banner space-y-5 py-5 sm:py-10">
          <div class="font-bold sm:text-xl">
            <a
              class="link"
              href="https://www.google.com/maps/search/?api=1&query=60006+US+Highway+285,+Bailey,+CO+80421"
              >2 Dads Eatery and Taproom<br />60006 US Highway 285 Bailey, CO
              80421</a
            >
          </div>
          <p>Last Monday of Every Month at 6:00 PM</p>
          <p class="font-bold">
            Questions? Email us at <a
              class="link"
              href="mailto:info@allaccesswellness.org"
              >info@allaccesswellness.org</a
            >
          </p>
        </section>

        <!-- BOTTOM -->
        <section class="page-width paper flex-1"></section>

        <!-- FOOTER -->
        <footer class="page-width paper py-5">
          <p
            class="text-center font-sans text-xs text-gray-400 uppercase sm:text-sm"
          >
            Does Not Scale · 2026
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
