@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #0e3855;
  --color-secondary: #53638e;
  --color-accent: #bd1a30;
  --color-page: white;
}

.paper {
  @apply bg-page;
  @apply shadow-xl shadow-black/30;
}

.page-width {
  @apply m-auto w-full max-w-5xl;
}

.full-width-banner {
  @apply bg-primary;
  @apply text-white;
  @apply shadow-lg shadow-black/30;
}

.font-anton {
  font-family: "Anton", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.bg-dots {
  @apply bg-amber-50;
  background-image: radial-gradient(
    circle,
    color-mix(in srgb, var(--color-amber-100) 25%, transparent) 1.5px,
    transparent 1.5px
  );
  background-size: 20px 20px;
}

.bg-mountain {
  @apply bg-cover bg-bottom;

  background-image:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.95) 10%,
      rgba(255, 255, 255, 0.80) 70%,
      rgba(255, 255, 255, 0.7)
    ),
    url(/mt-blue-sky.jpg);
}

.link {
  @apply text-blue-300 underline;
}

/*********************/
